@font-face{
    font-family: 'dm_mono';
    src: url('/ping-coming-soon-page-master/static/LibreFranklin-BlackItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family: 'dm_mono';
    src: url('/ping-coming-soon-page-master/static/LibreFranklin-ExtraBoldItalic.ttf') ;
    font-weight: 800;
    font-style: italic;
}
@font-face{
    font-family: 'dm_mono';
    src: url('/ping-coming-soon-page-master/static/LibreFranklin-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
