.project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 100px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .h1{
    font-size: 25px;
    color: var(--Gray_400);
    font-family: var(--first-family);
    font-weight: 300;
    padding-block-start: 40px;
}
.semi-bold_dm_sans{
    font-family: var(--first-family);
    font-weight: 800;
    color: var(--Blue_950);
    font-size: 30px;
}
.header h4{
    font-family: var(--first-family);
    font-weight: 300;
    font-size: 15px;
}
